<h2>Welcome to a blog of rails and sorts.</h2>

<% @entries.each do |e| %>
<div>
	<h2>
		<%= link_to e.title, e %>
		<% author = User.find(e.user_id).name %>
	</h2>
	 Rumor is, <%= author %> made this on <%= e.created_at.strftime('%m/%d/%y') %>
	</div>
<% end %>