<div class='container'>
<p>	Welcome to a rails blog!</p>

<p>	Sign in here!</p>
	<form action="/login" method="post">
		<input type='input' name="email" placeholder="---email---"/>
		<input type='input' name="password" placeholder="---password---"/>
		<input type="submit" value="SIGN ME IN">
	</form>

<p>	<a href="/users/new">Sign up here!</a>
</p>
</div>